/*James Jelin & Tucker Gordon
Data Visualization Project 1
main.css*/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

text {
    font-family: sans-serif;
    font-size: 11px;
}

body #radioContainer {
  text-align: left;
}

.radioText {
  font-family: sans-serif;
    font-size: 14px;
}

.title {
	font-size: 20px;
	font-weight: bold;
}

.axisTitle {
	font-size: 15px;
}

.thinBar {
	display: block;
  background: lightslategray;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding: 2px;
  font-size: 10%;
}

body {
	text-align: center;
}

h1, h3 {
	color: darkslategray;
	font-family: sans-serif;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.dalcWalcLinePoint, .weeklyLinePoint, .parentsLinePoint {
  fill: black;
}

.dalcWalcLinePoint:hover, .weeklyLinePoint:hover, .parentsLinePoint:hover {
  fill: orange;
  cursor: pointer;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    text-align: left;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#avgDalcLine {
  stroke: red;
}

#avgWalcLine {
  stroke: green;
}

#avgParentsTogetherLine {
  stroke: crimson;
}

#avgParentsSepMotherLine {
  stroke: seagreen;
}

#avgParentsSepFatherLine {
  stroke: purple;
}